.bloque1 {
  background-color: blueviolet;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttom {
  display: inline;
  background-color: red;
  border-radius: 5px;
  height: 45px;
}
