html {
  font-size: 32px; /*para que mida 50x50, pongo la mitad porque 6.25rem son 100px. Para que mida 200px pondré el doble de 16px*/
}
.smiley {
  width: 6.25rem; /*para pasar a unidad rem 100px/16px=6.25rem*/
  height: 6.25rem;
  line-height: 6.25rem;
  text-align: center;
  font-family: "courier new";
  font-weight: bold;
  font-size: 3.125rem;
  color: #424242;
  background: #ffcc00;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
