.popup {
  position: fixed;
  left: 30%;
  border: rebeccapurple 2px solid;
  width: 100px;
  height: 100px;
}
.popup:hover {
  transform: translate(60px, 80px);
  display: inline;
  transition: transform ease 2s;
}
